#example-toolbar-button {
	list-style-image: url(chrome://example/skin/toolbar-large.png);
}

toolbar[iconsize=small] #example-toolbar-button {
	list-style-image: url(chrome://example/skin/toolbar-small.png);
}

#example-status-bar-icon {
	list-style-image: url(chrome://example/skin/status-bar.png);
}